@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

:root {
    --primary-color: #8c52ff;
    --secondary-color: #526FFF;
    --text-links-title: #000;
    --text-gray: #838383;
    --bg-page: #FBFDFE;
    --bg-card: #fff;
    --text-white: #fff;
}

[data-theme="dark"] {
    --primary-color: #8c52ff;
    --secondary-color: #526FFF;
    --text-links-title: #fff;
    --text-gray: #d5d1fb;
    --bg-page: #192229;
    --bg-card: #212E36;
    --text-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Manrope', sans-serif;;
    font-size: clamp(16px, 2vw, 19px);
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    position: relative;
    background-color: var(--bg-page);
    transition: all 0.4s;
}

/* ********Custom Scroll********* */
/* width */
body::-webkit-scrollbar {
    width: 9px;
}

/* Track */
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px var(--primary-color);
    border-radius: 5px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 5px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: var(--text-gray);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

.back-top {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    opacity: 0.7;
}

.back-top>img {
    width: 60%;
    height: auto;
}

/* ******************************* */
/* HEADER */
/* ******************************* */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.logo {
    width: 3rem;
}

.right-header {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: baseline;
    gap: 3.3rem;
    color: var(--text-links-title);
    font-weight: 500;
    font-size: 18px;
}

.theme-icon>img {
    width: 1.2rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

.navItem:hover {
    color: var(--text-gray);
}

.navbar.mobileMenu {
    width: 254px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    z-index: 1;
    padding: 118px 32px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(50px);
}

.menu-icon {
    width: 1.6rem;
}

.close-icon {
    position: relative;
    width: 24px;
    height: 24px;
    color: #000;
    z-index: 1;
}

/* ******************************* */
/* MAIN */
/* ******************************* */

.main {
    margin-bottom: 135px;
}

/* hero */
.hero {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.hero-image {
    position: relative;
    width: min(260px,80vw);
    margin: 0 auto;
}

.cube {
    width: 25px;
    top: -20px;
    right: -15px;
}

.circles {
    width: 75px;
    right: -15px;
    bottom: -25px;
}

.plus {
    width: 20px;
    top: -20px;
    left: 40%;
}

.zigzags {
    width: 40px;
    left: -30px;
    top: -10px;
}

.hero-description>h1 {
    margin-bottom: 20px;
    text-align: center;
    color: var(--text-links-title);
}

.hero-description>p {
    margin-bottom: 20px;
    color: var(--text-gray);
    text-align: center;
}

.hero-description>a {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

/* hero min-width:1000px */
@media(min-width:640px) {
    .hero {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .hero-image {
        order: 2;
        width: 45%;
        flex-shrink: 0;
    }

    .hero-description {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .hero-description>h1 {
        text-align: start;
    }

    .hero-description>p {
        text-align: start;
    }

    .hero-description>a {
        margin: 0;
    }
}

/* SKILLS */
.skills-info {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.image-skills {
    width: 45%;
    margin: 0 auto;
    flex-shrink: 0;
}

.description-skills>p {
    margin-bottom: 1.2rem;
    color: var(--text-gray);
    text-align: center;
}

.grid-icon-skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(20vw, 90px));
    row-gap: 0.8rem;
    justify-content: space-evenly;
}

.icon-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.icon-skill>p {
    color: var(--text-links-title);
}

/* SKILLS min-width:1000px */
@media(min-width:768px) {
    .skills-info {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .image-skills {
        order: 2;
    }
    .description-skills>p {
        text-align: start;
    }
}

/* PROJECTS */
.projects>h2>span {
    display: inline-block;
    width: 40px;
}

.projects-info>p {
    text-align: center;
    margin-bottom: 2.5rem;
    color: var(--text-gray);
}

.grid-card-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(80vw, 300px));
    justify-content: space-evenly;
    gap: 2rem;
}

.card-project {
    background: linear-gradient(var(--bg-card), var(--bg-card)) padding-box, linear-gradient(to right, var(--secondary-color), var(--primary-color)) border-box;
    border-radius: 8px;
    border: 2px solid transparent;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 2/2.5;
}

.image-card {
    height: 45%;
}

.image-card>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left top;
}

.body-card {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    height: 55%;
}

.body-card>p {
    color: var(--text-gray);
    font-size: 16px;
    font-weight: 300;
}

.body-card>p>b {
    color: var(--secondary-color);
    font-weight: 400;
    }

.body-card>a {
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--secondary-color);
}

.body-card>a>img {
    width: 25px;
}

/* PROJECTS min-width:768px */
@media(min-width:420px) {
    .card-project {
        aspect-ratio: 2/2.6;
    }

    .body-card>p {
        font-size: 17px;
        font-weight: 300;
    }
}

/* CONTACT */
.contact-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    gap: 1rem;
}
.image-contact {
    /* width: 100%; */
    margin: 0 auto;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    height: 47.5px;
}

textarea {
    resize: none;
    height: 120px;
    width: 100%;
}

input,
textarea {
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    padding: 1rem;
    color: #838383;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 0.8rem;
}

input:focus,
textarea:focus {
    outline: 2px solid var(--primary-color);
}

input.invalid,textarea.invalid {
    outline: 2px solid red;
}
.invalid-message{
    margin-top: -0.8rem;
    color: #ff4949;
}
form>button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

form>button>img {
    width: 20px;
}

/* CONTACT (min-widht:1000px) */
@media(min-width:768px) {
    .contact-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: none;
    }
    .image-contact {
        width: 60%;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-width: 15.6rem;
        width: 40%;
    }

    textarea {
        resize: none;
        height: 240px;
        width: 100%;
    }
}

/* ******************************* */
/* FOOTER */
/* ******************************* */
.footer {
    font-size: 20px;
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

footer>img {
    /* min-height: 250px; */
    height: 300px;
    width: 100%;
    border: none;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.social-media {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.social-media>h3 {
    font-weight: 300;
    text-align: center;
    width: 100%;
}

.list-social-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon-footer {
    width: min(7vw, 35px);
}

.github-contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.github-contact>h3 {
    font-weight: 300;
    text-align: center;
}

.github-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.github-info>p>a {
    color: rgb(119, 221, 220);
    font-weight: 700;
}

/* FOOTER min-width:600px */
@media(min-width:768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        /* height: 25vw; */
        max-height: 444px;
        align-items: center;
    }

    footer>img {
        height: 200px;
        /* max-height: 444px; */
    }

    .social-media {
        width: min(455px, 40vw);
        text-align: start;
        align-items: flex-start;
    }

    .social-media>h3 {
        text-align: start;
    }
    .list-social-icons {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

    .github-contact>h3 {
        text-align: end;
    }

    .main {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

/* UTILITIES */
.container {
    /* padding: 1rem max(6.38vw, 1.2rem); */
    width: 90vw;
    max-width: 1024px;
    margin: 0 auto;
    padding: 1.5rem 0;
}

.mp-t-100 {
    margin-top: 2rem;
    padding-top: 2rem;
}

.m-b-100 {
    margin-bottom: 5rem;
}

.title-section {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1.2rem;
}

.hidden {
    display: none;
}

.btn {
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
    padding: 0.6rem 1.4rem;
    cursor: pointer;
}

.btn.btn-primary {
    color: var(--text-white);
    background-color: var(--secondary-color);
}

.absolute {
    position: absolute;
}
